<li class="nav-dropdown-container ecosystem">
  <a class="nav-link">ระบบนิเวศ</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><h4>ช่วยเหลือ</h4></li>
    <li><ul>
      <li><a href="https://forum.vuejs.org/" class="nav-link" target="_blank">ฟอรั่ม</a></li>
      <li><a href="https://chat.vuejs.org/" class="nav-link" target="_blank">สนทนา</a></li>
    </ul></li>
    <li><h4>เครื่องมือ</h4></li>
    <li>
      <ul>
        <li><a href="https://github.com/vuejs/vue-devtools" class="nav-link" target="_blank">เครื่องมือพัฒนา</a></li>
        <li><a href="https://vuejs-templates.github.io/webpack" class="nav-link" target="_blank">Webpack Template</a></li>
        <li><a href="https://vue-loader.vuejs.org" class="nav-link" target="_blank">Vue Loader</a></li>
      </ul>
    </li>
    <li><h4>ไลบรารีส์หลัก</h4></li>
    <li><ul>
      <li><a href="https://router.vuejs.org/" class="nav-link" target="_blank">Vue เราเตอร์</a></li>
      <li><a href="https://vuex.vuejs.org/" class="nav-link" target="_blank">Vuex</a></li>
      <li><a href="https://ssr.vuejs.org/" class="nav-link" target="_blank">Vue สร้างเซิร์ฟเวอร์</a></li>
    </ul></li>
    <li><h4>ข่าวสาร</h4></li>
    <li><ul>
      <li><a href="https://news.vuejs.org" class="nav-link" target="_blank">ข่าวประจำสัปดาห์</a></li>
      <li><a href="https://github.com/vuejs/roadmap" class="nav-link" target="_blank">แผนงาน</a></li>
      <li><a href="https://twitter.com/vuejs" class="nav-link" target="_blank">Twitter</a></li>
      <li><a href="https://medium.com/the-vue-point" class="nav-link" target="_blank">บล็อก</a></li>
      <li><a href="https://vuejobs.com/?ref=vuejs" class="nav-link" target="_blank">งาน</a></li>
    </ul></li>
    <li><h4>แหล่งข้อมูลอื่น</h4></li>
    <li><ul>
      <li><a href="https://github.com/vuejs" class="nav-link" target="_blank">Repos อย่างเป็นทางการ</a></li>
      <li><a href="https://curated.vuejs.org/" class="nav-link" target="_blank">Vue Curated</a></li>
      <li><a href="https://github.com/vuejs/awesome-vue" class="nav-link" target="_blank">Awesome Vue</a></li>
    </ul></li>
  </ul>
</li>
